body{
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: rgb(6, 12, 10);
    color: #f5f6f7;
    font-family: Tahoma;
    font-size: 16px;
}

h2, h3{
    margin: 1em auto;
    text-align: center;
}

input{
    margin: auto;
    width: 90%;
    min-height: 2em;
    box-sizing: border-box;
}

/* FIX SECTION, CHECKBOX MOVES DIAGONAL AFTER ENTER ITEM*/
#itemBox{
    width: 20px;
    height: 20px;
    /* display: inline-block; */
    /* vertical-align: middle; */
    position: relative;
    bottom: 1px;
    padding: 0;
    margin: 0;
    float: right;
    top: -1px;
    right: auto;
}

label{
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}

.center-block{
    margin: auto;
    width: 300px;
    position: relative;
}

.items-list{
    margin: auto;
    width: 300px;
    position: relative;
}

/* FIX SECTION, ADD BUTTON MOVING AFTER ENTER */
#add-item-button{
    margin: auto;
    width: 10%;
    min-height: 2em;
    position: absolute;
}

#pick-random-item{
    margin: 10px 0px 10px 0px;
    width: 50%;
    min-height: 2em;
}
#clear-items-button{
    margin: 10px 0px 10px 0;
    width: 50%;
    min-height: 2em;
    position: absolute;
}